<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <link rel="shortcut icon" href="__IMAGE__/favicon.ico" type="image/x-icon">
    <title>留学专业_美国_长春留学中介 美国留学 英国留学 澳加留学申请 欧洲留学 日韩留学</title>
    <!-- 引入外部css文件 -->
    {css href="__CSS__/index.css" }
    {css href="__CSS__/bootstrap.css"}
    {css href="__CSS__/semantic.css"}
    <!-- 引入外部js文件 -->
    {js href="__JS__/jquery-3.3.1.js"}
    {js href="__JS__/bootstrap.js"}
    {js href="__JS__/semantic.js"}
    {js href="__JS__/index.js" }
    {js href="__JS__/jquery.tab.js"}
    {js href="__JS__/jquery.bxslider.js"}
</head>
<body>
    <!-- Header Part Begin -->
    {include file="common/header"}
    <!-- Header Part End -->

    <!-- Content Part Begin -->
    <!-- Content Part End -->

    <!-- Footer Part Begin -->
    {include file="common/footer"}
    <!-- Footer Part End -->
</body>
</html>